// LightSlateGray
// SteelBlue
// MidnightBlue
// DarkSlateGray
// SlateGray
// CadetBlue

body {
  background: white;
  font-family: "Nunito Sans", sans-serif;
  color: DarkSlateGray;
}
a {
  color: #fff;
}
h1,
h3 {
  //   font-family: "Cortado", sans-serif;
  font-family: "Bodoni Moda", serif;
  color: CadetBlue;
}
h2 {
  //   font-family: railroad-gothic-atf, sans-serif;
  // font-family: "Cortado", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
a.fb,
a.li {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  span {
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #444;
  }
  i {
    display: block;
  }
}

.intro {
  max-width: 600px;
  margin: auto;
  h2 {
    margin-bottom: 15px;
  }
}

header {
  background: LightSlateGray url(bg.jpg) center bottom;
  div {
    background-size: cover;
    margin: auto;
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      img {
        width: 100%;
        max-width: 600px;
        height: auto;
      }
    }
  }
}
.photo {
  margin-bottom: 30px;
  img {
    border-radius: 50%;
    max-width: 240px;
    margin: auto;
  }
}
.contact {
  background-color: LightSlateGray;
  margin-top: 30px;
  h3 {
    color: #fff;
  }
  span {
    border-bottom: 2px solid #fff;
    margin: 10px 0;
    display: inline-block;
  }
  button {
    color: #fff;
    background-color: CadetBlue;
  }
  a {
    text-decoration: underline;
  }
}
